/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  padding-top: 120px;
  padding-bottom: 20px;

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Navigation
 */

.navbar {
  .navbar-nav {
    display: inline-block;
    float: none;
  }

  .navbar-collapse {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
  }

  .btn {
    margin-left:10px;
  }
}



/*
* Blog
*/
.blog-title {
  text-align: center;
}



.progress {height: 4px;}